.test {
	width: 260px;
	height: 280px;
	float: left;	
}
.test2{
	width: 260px;
	height: 385px;
	float: left;	}
#eName{
	margin-left: 60px;
}
#memberTable th,td {
    border-bottom: 1px solid #ddd;
}